<?xml version="1.0"?>
<launch>
  <rosparam file="$(find stewart_platform)/config/control_stewart.yaml" command="load"/>
  <env name="GAZEBO_PLUGIN_PATH" value="${GAZEBO_PLUGIN_PATH}:$(find stewart_platform)/plugin/build" />
  <param name="robot_description" textfile="$(find stewart_platform)/stewart_sdf_model/stewart_sdf.sdf" />

  <node
  name="spawn_model"
  pkg="gazebo_ros"
  type="spawn_model"
  args="-sdf -param robot_description -model stewart -x 0 -y 0 -z 0"
  output="screen">
</node>

  <arg name = "paused" default = "true"/>
  <arg name = "use_sim_time" default = "true"/>
  <arg name = "gui" default = "true"/>
  <arg name = "headless" default = "false"/>
  <arg name = "debug" default = "false"/>
  <arg name = "verbose" default = "true"/>

  <include file = "$(find gazebo_ros)/launch/empty_world.launch">
    <arg name = "world_name" value = "$(find stewart_platform)/world/stewart.world" />
    <arg name = "debug" value = "$(arg debug)" />
    <arg name = "gui" value = "$(arg gui)" />
    <arg name = "paused" value = "$(arg paused)" />
    <arg name = "use_sim_time" value = "$(arg use_sim_time)" />
    <arg name = "headless" value = "$(arg headless)" />
    <arg name = "verbose" value = "$(arg verbose)" />
  </include>

  <node pkg="stewart_platform" type="ik" name="inverse_kinematic" output="screen"> </node>

</launch>
